[submodule "color-wheel-mqtt"]
	path = color-wheel-mqtt
	url = https://github.com/cmmakerclub/color-wheel-mqtt
[submodule "netpie-manager"]
	path = netpie-manager
	url = https://github.com/cmmakerclub/netpie-manager
