[submodule "src/netpie-client-basic"]
	path = src/netpie-client-basic
	url = https://github.com/cmmakerclub/netpie-client-basic.git
[submodule "src/hivemq-mqtt-web-client"]
	path = src/hivemq-mqtt-web-client
	url = https://github.com/cmmakerclub/hivemq-mqtt-web-client
[submodule "src/espnow-sensor-node-graph"]
	path = src/espnow-sensor-node-graph
	url = https://github.com/cmmakerclub/espnow-sensor-node-graph.git
[submodule "src/cmmc-iot-devices-v2"]
	path = src/cmmc-iot-devices-v2
	url = https://github.com/cmmakerclub/cmmc-iot-devices-v2.git
[submodule "src/cmmc-retain-manager"]
	path = src/cmmc-retain-manager
	url = https://github.com/cmmakerclub/cmmc-retain-manager.git
[submodule "src/cmmc-iot-devices-v3"]
	path = src/cmmc-iot-devices-v3
	url = https://github.com/cmmakerclub/cmmc-iot-devices-v3.git
[submodule "src/cmmc-firebase-map"]
	path = src/cmmc-firebase-map
	url = https://github.com/compilerexe/cmmc-firebase-map.git
