[submodule "cmmc-devices"]
	path = cmmc-devices
	url = https://github.com/cmmakerclub/cmmc-devices.git
[submodule "netpie-manager"]
	path = netpie-manager
	url = https://github.com/cmmakerclub/netpie-manager.git
[submodule "netpie-manager"]
	path = color-wheel-mqtt
	url = https://github.com/cmmakerclub/color-wheel-mqtt.git
